{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools %}
    {{ block.super }}
    <h2>Доход DOUBLETAPP за выбранный период </h2>
    <table>
        <tr>
            <th>RUB</th>
            <th>USD</th>
            <th>EUR</th>
        </tr>
        <tr>
            <td>{{ cl.total_rub_income }}</td>
            <td>{{ cl.total_usd_income }}</td>
            <td>{{ cl.total_eur_income }}</td>
        </tr>
    </table>
    <h2>Доход DOUBLETAPP за выбранный период с учётом переводов</h2>
    <table>
        <tr>
            <th>RUB</th>
            <th>USD</th>
            <th>EUR</th>
        </tr>
        <tr>
            <td>{{ cl.total_rub_income_with_transfers }}</td>
            <td>{{ cl.total_usd_income_with_transfers }}</td>
            <td>{{ cl.total_eur_income_with_transfers }}</td>
        </tr>
    </table>
    <h2>Баланс DOUBLETAPP за всё время (с учетом переводов)</h2>
    <table>
        <tr>
            <th>RUB</th>
            <th>USD</th>
            <th>EUR</th>
        </tr>
        <tr>
            <td>{{ cl.total_rub }}</td>
            <td>{{ cl.total_usd }}</td>
            <td>{{ cl.total_eur }}</td>
        </tr>
    </table>
    <br />
{% endblock %}