{% extends "admin/change_form.html" %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript" src="{% static 'admin/project_change_form.js' %}"></script>
{% endblock %}

{% block object-tools %}
<input type="hidden" name="secret" value="{{ secret }}" />
<input type="hidden" name="token" value="{{ token }}" />
<input type="hidden" name="key" value="{{ key }}" />

<table class="project-hours" style="display: none;">
    <tr>
        <td><label>Общее количество часов, потраченных на проект за указанный период времени:</label></td>
        <td>
            <input name="hours-per-period" value="" disabled /> <label>ч</label>
        </td>
    </tr>
    <tr>
        <td><label>Количество часов выбранного юзера за указанный период времени:</label></td>
        <td>
            <input name="employee-hours" value="" disabled /> <label>ч</label>
        </td>
    </tr>
</table>

<br />

<form id='project-form' action="/api/projects/" method="GET">
    <input type="date" value="Дата до" id="since"/>
    <input type="date" value="Дата после" id="until"/>
    <input type="submit" value="Получить данные о часах" />
</form>

<br />
{% endblock %}
